<div class="hero-unit">
	<h1>All you always wanted to know about Winter Sports</h1>
	<%= link_to 'RSS Feed', posts_path(:rss) %>
	<p>Hi and welcome on my personal blog. My name is Mathieu Saury, I am a French engineer living in New York and I have a passion for winter sports, especially ski. Currently looking for a position as a Software Engineer, feel free to contact me.</p>
	<p><a href="https://s3.amazonaws.com/resume-file/Resume+Mathieu+Saury.pdf" class="btn primary large">Get my resume online</a></p>
	<link
    rel = "alternate"
    type = "application/atom+xml"
    title = "Ski"
    href = "http://rss.alpinezone.com/gear.php"/>
</div>



<div class="row">
	<div class="span6">
		<h2>Title1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
	</div>	
	
	<div class="span5">
		<h2>Title2</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
	</div>
	
	<div class="span5">
		<h2>Title3</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m est laborum.</p>
	</div>	
</div><br /><br />
	
<div class="row">
	<div class="span11">
		<div class="page-header">
			<h1>Actuality <small>Stay tuned</small></h1>
			<p>
				<img src="http://lorempixum.com/640/200/sports" alt="" />
			</p>
			<blockquote>
				<p>"What does not kill us makes us stronger!"</p>
				<small>Friedrich Nietzsche</small>
			</blockquote>			
		</div>
	</div>		
	
	<div class="span5">
		<h2>Sidebar</h2>
		<ul class="tabs">
			<li class="active"><a href="#">Last news</a></li>
			<li><a href="#">Top news</a></li>
		</ul>
		<ul>
			<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut datat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
		</ul>
	</div>	
</div>
		

<h1>Listing posts <small>Share your experience</small></h1>		
<table class="zebra-striped" id="sortTableExample">
  <tr>
    <th class="yellow">Name</th>
    <th class="blue">Title</th>
    <th class="green">Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<br />
<%= link_to 'New Post', new_post_path, :class => "btn primary large"%>


<div class="row">
	<div class="span3">
	</div>
	<div class="span6 offset5" >
		<div class="pagination">
			<ul>
				<li class="prev disabled"><a href="#">&lArr; Previous</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li class="next"><a href="#">Next &rArr;</a></li>
			</ul>
		</div>
	</div>
	<div class="span2">
	</div>
</div>

<script type="text/javascript">
  $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
  });
</script>

