<!DOCTYPE html>
<html>
<head>
  <title>Mathieusaury</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
=======
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
>>>>>>> 30a11ba8b109b81948b0c0a8a53a2ffe5e2b2799
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
