<!DOCTYPE html>
<html>
<head>
  <title>Mathieusaury</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.aweber.com/blog/feed/" />
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  
  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28868013-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</head>

<body>
	
	<div class="topbar">
		<div class="fill">
	  		<div class="container">
	  			<h3><a href="/">DrItZz</a></h3>
	  			<ul>
	     			<li class="active"><a href="/">Home</a></li>
	      			<li><%=  %></li>
	     			<li><%= link_to 'Contact', Contact %></li>

	    		</ul>
	    		<form action= "">	
	    			<input type="text" placeholder="Research an article" />
	    		</form>
	    		<ul class="nav secondary-nav">
	    			<li>
	    				<a href="#" class="menu">Sign in</a>
	    				<ul class="menu-dropdown">
	    					<li><input type="text" placeholder="Username" /></li>
	    					<li><input type="text" placeholder="Password" /></li>
	    				</ul>
	    			</li>
	    		</ul>
  			</div>
		</div>
	</div>	
	  				
	   			
	<div class="container">
		<%= yield  %>
	</div>

</body>


</html>
